/* Reset and base styles */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.sidebar {
  flex: 1;
  max-width: 300px;
}

.main-content {
  flex: 2;
  max-width: 800px;
  padding: 20px;
}

.sidebar h2, .sidebar h3 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0056b3;
}

header {
  position: relative;
  text-align: center;
  padding: 20px 0;
  background-color: #007BFF;
  color: #fff;
}

.nav-container {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #0056b3;
  color: #fff;
}

main {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: relative;
  margin-top: 50px;
}

.profile-picture {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #007BFF;
}

.contact-intro {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #333;
}

.contact-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.contact-info h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #007BFF;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-label {
  font-weight: bold;
  color: #007BFF;
}

/* Hover effect for email links */
.contact-info a {
  color: #959595;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #0056b3;
}

/* Icons */
.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-container span {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: icon-bounce 2s infinite;
}

.game-icon {
  background-image: url('/assets/images/game-control.png'); /* Replace with your game icon image */
}

.music-icon {
  background-image: url('/assets/images/musical-note.png'); /* Replace with your music icon image */
}

.magic-icon {
  background-image: url('/assets/images/education.png'); /* Replace with your magic icon image */
}

@keyframes icon-bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100px; /* Adjust as needed */
  margin-top: 10px; /* Add some space above the icons */
}

.social-icon {
  color: #333; /* Match the color with the rest of the website */
  margin: 0 5px; /* Add spacing around the icons */
}

/* Custom Publication Entry Styles */
/* Custom Bibliography Entry Styles */

.bib-card-link {
  text-decoration: none;
  color: inherit;
}

.bib-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  display: block;
}

.bib-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bib-card h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.bib-card p {
  margin-bottom: 5px;
}

.doi-link {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 10px;
}

.doi-link:hover {
  color: #0056b3;
}

/* CV */
/* Skills Section Styles */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  flex: 1;
  text-align: center;
  position: relative;
}

.skill-name {
  display: block;
  margin-bottom: 2vh; /* Adjusted margin */
  z-index: 1; /* Ensures it appears above the bar */
}

.skill-bar, .skill-bar-background {
  height: 20px;
  position: absolute;
  top: 25px; /* Adjusted top position */
  left: 0;
  right: 0;
}

.skill-bar {
  background-color: #007BFF;
  width: 0;
  transition: width 1s ease-in-out;
}

.skill-bar-background {
  background-color: #E0E0E0;
  width: 100%;
}

/* Button Styles */

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
