<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1><span id="typed-name">{{ site.title }}</span></h1>
        <nav class="nav-container">
            <ul>
                {% for item in site.navigation %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <div class="profile-picture">
                <img src="/assets/images/profile.png" alt="Profile Picture" class="profile-img">
            </div>
            <h2>About Me</h2>
            <p>I'm Antonio De Caro, a passionate PhD student in Computer Science at the University of Salerno. My journey in the world of the HPC has led me to explore various facets of computing.</p>
            <h3>Research Interests</h3>
            <ul>
                <li>Graph Analytics on GPUs</li>
                <li>SYCL Programming Model</li>
                <li>Frequency Scaling on GPUs</li>
            </ul>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/antodec" class="icon-link"><i class="fab fa-linkedin fa-2x social-icon"></i></a>
                <a href="https://github.com/antonio-decaro" class="icon-link"><i class="fab fa-github fa-2x social-icon"></i></a>
            </div>
        </aside>
        <main class="main-content">
            {{ content }}
        </main>
    </div>
    <footer>
        <p>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</p>
    </footer>

    <script src="/assets/js/main.js"></script>
</body>
</html>
