<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1><span id="typed-name">{{ site.title }}</span></h1>
        <nav class="nav-container">
            <ul>
                {% for item in site.navigation %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% include sidebar.html %}
        <main class="main-content" id="main-content">
            <div class="index", id="index"></div>
            {{ content }}
        </main>
    </div>
    <footer>
        <p>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</p>
    </footer>

    <script src="/assets/js/main.js"></script>
</body>
</html>
